Repository brandon-behring/research-kb: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-freshness, mypy-baseline

doc-freshness:
  name: doc-freshness
  entry: python scripts/audit_docs.py --pre-commit
  language: python
  pass_filenames: false

mypy-baseline:
  name: mypy-baseline
  entry: .venv/bin/python scripts/mypy_baseline_check.py
  language: system
  pass_filenames: false

fix: Integration test fixtures + doc narrative drift
  docs/status/CURRENT_STATUS.md
  packages/extraction/README.md
  packages/mcp-server/src/research_kb_mcp/tools/assumptions.py
  packages/storage/src/research_kb_storage/assumption_audit.py
  tests/integration/conftest.py
Due: doc-freshness, mypy-baseline

docs: Reconcile CI schedule + README metrics
  CLAUDE.md
  README.md
  docs/TRIGGER_VALIDATION_WORKFLOW.md
  docs/VALIDATION_QUICK_REFERENCE.md
  docs/status/CURRENT_STATUS.md
  docs/status/MIGRATION_GRAPH_DEFAULT.md
  docs/status/VALIDATION_TRACKER.md
Due: doc-freshness

style: Black formatting across packages/ and scripts/
  docs/status/CURRENT_STATUS.md
  packages/api/src/research_kb_api/schemas.py
  packages/cli/src/research_kb_cli/_shared.py
  packages/common/src/research_kb_common/instrumentation.py
  packages/dashboard/tests/test_api_client.py
  packages/extraction/src/research_kb_extraction/domain_prompts.py
  packages/pdf-tools/tests/test_embedding.py
  packages/storage/conftest.py
  scripts/archive/validate_proactive_context.py
  scripts/dedup_chunks.py
  scripts/tag_tests.py
  scripts/test_mcp_queries.py
Due: mypy-baseline

feat: Add PEP 561 py.typed markers to all packages
  docs/status/CURRENT_STATUS.md
  packages/api/src/research_kb_api/py.typed
  packages/cli/src/research_kb_cli/py.typed
  packages/common/src/research_kb_common/py.typed
  packages/contracts/src/research_kb_contracts/py.typed
  packages/daemon/src/research_kb_daemon/py.typed
  packages/dashboard/src/research_kb_dashboard/py.typed
  packages/extraction/src/research_kb_extraction/py.typed
  packages/mcp-server/src/research_kb_mcp/py.typed
  packages/pdf-tools/src/research_kb_pdf/py.typed
  packages/s2-client/src/s2_client/py.typed
  packages/storage/src/research_kb_storage/py.typed
Due: none

fix: Resolve 54 mypy errors (65 → 11) including 3 latent MCP bugs
  .mypy_baseline.txt
  docs/status/CURRENT_STATUS.md
  packages/api/src/research_kb_api/schemas.py
  packages/api/src/research_kb_api/service.py
  packages/api/tests/test_service.py
  packages/daemon/src/research_kb_daemon/handler.py
  packages/daemon/src/research_kb_daemon/pool.py
  packages/daemon/src/research_kb_daemon/server.py
  packages/dashboard/src/research_kb_dashboard/api_client.py
  packages/mcp-server/src/research_kb_mcp/formatters.py
  packages/mcp-server/src/research_kb_mcp/tools/graph.py
  packages/mcp-server/tests/test_concept_tools.py
  packages/mcp-server/tests/test_formatters_extended.py
  packages/pdf-tools/src/research_kb_pdf/bibtex_generator.py
  packages/pdf-tools/src/research_kb_pdf/chunker.py
  packages/pdf-tools/src/research_kb_pdf/dispatcher.py
  packages/pdf-tools/src/research_kb_pdf/dlq.py
  packages/pdf-tools/src/research_kb_pdf/grobid_client.py
  packages/storage/src/research_kb_storage/citation_graph.py
  packages/storage/src/research_kb_storage/concept_store.py
  packages/storage/src/research_kb_storage/graph_queries.py
  packages/storage/src/research_kb_storage/method_store.py
  packages/storage/src/research_kb_storage/search.py
Due: doc-freshness, mypy-baseline

refactor: Tighten mypy strictness for 4 packages + fix warn_return_any
  docs/status/CURRENT_STATUS.md
  mypy.ini
  packages/pdf-tools/src/research_kb_pdf/embed_server.py
  packages/pdf-tools/src/research_kb_pdf/embedding_client.py
  packages/pdf-tools/src/research_kb_pdf/grobid_client.py
  packages/pdf-tools/src/research_kb_pdf/rerank_client.py
Due: mypy-baseline

feat: Add coverage configuration to pyproject.toml
  docs/status/CURRENT_STATUS.md
  pyproject.toml
Due: none

refactor: Raise PR coverage gate 40% → 60% + add e2e to integration CI
  .github/workflows/integration-test.yml
  .github/workflows/pr-checks.yml
  docs/status/CURRENT_STATUS.md
Due: none

docs: Fix README test count + upgrade black to 26.1.0
  .pre-commit-config.yaml
  README.md
  docs/status/CURRENT_STATUS.md
Due: doc-freshness

docs: Update INDEX.md phase table with P, Q, R
  docs/INDEX.md
  docs/status/CURRENT_STATUS.md
Due: none

style: Black 26.1.0 reformat (25 files)
  docs/status/CURRENT_STATUS.md
  packages/cli/src/research_kb_cli/commands/sources.py
  packages/cli/src/research_kb_cli/enrich.py
  packages/dashboard/src/research_kb_dashboard/components/graph.py
  packages/s2-client/src/s2_client/acquire.py
  packages/s2-client/src/s2_client/cache.py
  packages/storage/src/research_kb_storage/assumption_audit.py
  packages/storage/src/research_kb_storage/biblio_store.py
  packages/storage/src/research_kb_storage/citation_graph.py
  packages/storage/src/research_kb_storage/cross_domain.py
  packages/storage/src/research_kb_storage/domain_store.py
  packages/storage/src/research_kb_storage/kuzu_store.py
  packages/storage/src/research_kb_storage/queue_store.py
  packages/storage/tests/test_assumption_audit.py
  packages/storage/tests/test_connection.py
  scripts/archive/validate_gold_eval.py
  scripts/dedup_chunks.py
  scripts/diagnose_data_quality.py
  scripts/diagnose_orphans.py
  scripts/enrich_method_attributes.py
  scripts/relink_orphans.py
  scripts/repair_orphan_sources.py
  scripts/sync_kuzu.py
  tests/integration/conftest.py
  tests/integration/test_search_pipeline.py
  tests/scripts/test_critical_scripts.py
Due: mypy-baseline

test: Phase S coverage hardening — 85 new unit tests + raise gate 60% → 66%
  .github/workflows/pr-checks.yml
  docs/status/CURRENT_STATUS.md
  packages/storage/tests/test_assumption_audit_unit.py
  packages/storage/tests/test_citation_graph_unit.py
  packages/storage/tests/test_graph_queries_unit.py
  packages/storage/tests/test_search_unit.py
Due: mypy-baseline

docs: Update INDEX.md with Phase S, T completion
  docs/INDEX.md
  docs/status/CURRENT_STATUS.md
Due: none

fix: Repair extract_concepts.py domain_id compatibility
  docs/status/CURRENT_STATUS.md
  scripts/extract_concepts.py
Due: mypy-baseline

feat: Activate phase_u eval test cases for sql/recommender_systems/adtech
  docs/status/CURRENT_STATUS.md
  fixtures/eval/retrieval_test_cases.yaml
Due: none

test: Add 16 CLI citations sub-app unit tests
  docs/status/CURRENT_STATUS.md
  packages/cli/tests/test_cli_commands.py
Due: mypy-baseline

fix: Normalize synonym map key matching in QueryExpander
  docs/status/CURRENT_STATUS.md
  packages/storage/src/research_kb_storage/query_expander.py
  packages/storage/tests/test_query_expander.py
Due: mypy-baseline

docs: Phase V documentation trust alignment
  README.md
  docs/DOMAIN_COVERAGE.md
  docs/INDEX.md
  docs/TEST_COVERAGE_AUDIT.md
  docs/status/CURRENT_STATUS.md
  packages/storage/src/research_kb_storage/assumption_audit.py
Due: doc-freshness, mypy-baseline

chore: Raise coverage gate 66% -> 67%
  .github/workflows/pr-checks.yml
  docs/status/CURRENT_STATUS.md
Due: none

fix: Phase X data accuracy — retag 209 sources, fix generate_status.py, expand audit
  README.md
  ROADMAP.md
  docs/DOMAIN_COVERAGE.md
  docs/status/CURRENT_STATUS.md
  packages/extraction/tests/test_anthropic_client.py
  packages/extraction/tests/test_instructor_client.py
  pyproject.toml
  scripts/audit_docs.py
  scripts/generate_status.py
Due: doc-freshness, mypy-baseline

test: Phase Y — test fortification, mypy zero-baseline, coverage gate 70%
  .github/workflows/pr-checks.yml
  .mypy_baseline.txt
  ROADMAP.md
  docs/status/CURRENT_STATUS.md
  packages/client/tests/test_client.py
  packages/common/src/research_kb_common/logging_config.py
  packages/dashboard/tests/test_assumptions_page.py
  packages/dashboard/tests/test_concepts_page.py
  packages/dashboard/tests/test_queue_page.py
  packages/dashboard/tests/test_statistics_page.py
  packages/extraction/src/research_kb_extraction/anthropic_client.py
  packages/extraction/src/research_kb_extraction/batch_client.py
  packages/extraction/src/research_kb_extraction/deduplicator.py
  packages/extraction/src/research_kb_extraction/llama_cpp_client.py
  packages/pdf-tools/src/research_kb_pdf/chunker.py
Due: mypy-baseline

feat: Phases Z/AB/AC/AD — JSON MCP output, scoped audits, explain_connection, doc cleanup
  .github/ISSUE_TEMPLATE/validation_tracking.md
  .gitignore
  CLAUDE.md
  README.md
  codex-systematic-audit.md
  docs/STRATEGIC_ASSESSMENT.md
  docs/TRIGGER_VALIDATION_WORKFLOW.md
  docs/VALIDATION_QUICK_REFERENCE.md
  docs/VALIDATION_QUICK_START.md
  docs/status/CURRENT_STATUS.md
  packages/cli/src/research_kb_cli/commands/graph.py
  packages/cli/src/research_kb_cli/commands/search.py
  packages/mcp-server/src/research_kb_mcp/formatters.py
  packages/mcp-server/src/research_kb_mcp/tools/assumptions.py
  packages/mcp-server/src/research_kb_mcp/tools/citations.py
  packages/mcp-server/src/research_kb_mcp/tools/concepts.py
  packages/mcp-server/src/research_kb_mcp/tools/graph.py
  packages/mcp-server/src/research_kb_mcp/tools/search.py
  packages/mcp-server/tests/test_json_format.py
  packages/mcp-server/tests/test_synthesis_tool.py
  packages/storage/src/research_kb_storage/__init__.py
  packages/storage/src/research_kb_storage/assumption_audit.py
  packages/storage/src/research_kb_storage/synthesis.py
  packages/storage/tests/test_assumption_audit_unit.py
  packages/storage/tests/test_synthesis.py
  tests/integration/test_seed_concept_validation.py
Due: doc-freshness, mypy-baseline

feat: Phase AE — interview_prep domain fix (0→100% hit rate, 15 eval cases)
  docs/status/CURRENT_STATUS.md
  fixtures/concepts/synonym_map.yaml
  fixtures/eval/retrieval_test_cases.yaml
Due: none

feat: Add gitleaks secret scanning to pre-commit
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

fix: Update all GitHub URLs from brandonmbehring-dev to brandon-behring
  CONTRIBUTING.md
  SECURITY.md
  docs/INDEX.md
  docs/TRIGGER_VALIDATION_WORKFLOW.md
  docs/VALIDATION_QUICK_REFERENCE.md
  docs/guides/LOCAL_DEVELOPMENT.md
  docs/site/_config.yml
  docs/site/getting-started.md
  docs/site/index.md
  packages/api/pyproject.toml
  packages/cli/pyproject.toml
  packages/client/pyproject.toml
  packages/common/pyproject.toml
  packages/contracts/pyproject.toml
  packages/daemon/pyproject.toml
  packages/dashboard/pyproject.toml
  packages/extraction/pyproject.toml
  packages/mcp-server/pyproject.toml
  packages/pdf-tools/pyproject.toml
  packages/s2-client/pyproject.toml
  packages/storage/pyproject.toml
  scripts/systemd/research-kb-reranker.service
  scripts/systemd/research-kb-sync.service
  services/research-kb-daemon.service
  services/s2-discovery.service
Due: doc-freshness

feat: Deduplicator improvements + doc/status updates
  .github/workflows/weekly-full-rebuild.yml
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/STRATEGIC_ASSESSMENT.md
  docs/status/CURRENT_STATUS.md
  docs/status/VALIDATION_TRACKER.md
  packages/extraction/src/research_kb_extraction/deduplicator.py
  packages/extraction/tests/test_deduplicator.py
  scripts/deduplicate_concepts_v2.py
  scripts/eval_retrieval.py
Due: doc-freshness, mypy-baseline

fix: MCP config — user-global scope via claude mcp add, correct docs
  .mcp.json
  .mcp.json.example
  CLAUDE.md
Due: doc-freshness

feat: Phase AI — Literature review + semantic chunking + operational scripts
  CLAUDE.md
  packages/cli/src/research_kb_cli/commands/review.py
  packages/cli/src/research_kb_cli/main.py
  packages/mcp-server/src/research_kb_mcp/server.py
  packages/mcp-server/src/research_kb_mcp/tools/__init__.py
  packages/mcp-server/src/research_kb_mcp/tools/review.py
  packages/mcp-server/tests/test_review_tool.py
  packages/pdf-tools/src/research_kb_pdf/__init__.py
  packages/pdf-tools/src/research_kb_pdf/chunker.py
  packages/pdf-tools/src/research_kb_pdf/dispatcher.py
  packages/pdf-tools/tests/test_chunker.py
  packages/storage/src/research_kb_storage/__init__.py
  packages/storage/src/research_kb_storage/literature_review.py
  packages/storage/tests/test_literature_review.py
  scripts/ingest_corpus.py
  scripts/ingest_missing_papers.py
  scripts/ingest_missing_textbooks.py
  scripts/ingest_mmm_papers.py
  scripts/ingest_rag_llm_textbooks.py
  scripts/optimize_weights.py
  scripts/rechunk_corpus.py
  scripts/regenerate_golden_candidates.py
  scripts/repair_orphan_sources.py
  tests/scripts/test_optimize_weights.py
  tests/scripts/test_regenerate_golden.py
Due: doc-freshness, mypy-baseline

fix: 3 bugs in literature_review.py — get_neighborhood signature + concept types
  packages/storage/src/research_kb_storage/literature_review.py
  packages/storage/tests/test_literature_review.py
Due: mypy-baseline

fix: Literature review quality — dedup, truncation, logging, docs
  docs/INDEX.md
  docs/STRATEGIC_ASSESSMENT.md
  packages/cli/src/research_kb_cli/commands/review.py
  packages/storage/src/research_kb_storage/literature_review.py
  packages/storage/tests/test_literature_review.py
Due: mypy-baseline

feat: Replace PyMuPDF with Docling for LaTeX-preserving PDF extraction
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/SYSTEM_DESIGN.md
  docs/site/architecture.md
  packages/pdf-tools/README.md
  packages/pdf-tools/pyproject.toml
  packages/pdf-tools/src/research_kb_pdf/__init__.py
  packages/pdf-tools/src/research_kb_pdf/chunker.py
  packages/pdf-tools/src/research_kb_pdf/dispatcher.py
  packages/pdf-tools/src/research_kb_pdf/docling_extractor.py
  packages/pdf-tools/src/research_kb_pdf/embedding_client.py
  packages/pdf-tools/src/research_kb_pdf/pymupdf_extractor.py
  packages/pdf-tools/tests/test_chunker.py
  packages/pdf-tools/tests/test_dispatcher.py
  packages/pdf-tools/tests/test_docling_extractor.py
  packages/pdf-tools/tests/test_embedding.py
  packages/pdf-tools/tests/test_heading_detection.py
  packages/pdf-tools/tests/test_pymupdf_extractor.py
  packages/pdf-tools/tests/test_pymupdf_real.py
  scripts/backfill_embeddings.py
  scripts/identify_ocr_needed.py
  scripts/ingest_corpus.py
  scripts/ingest_missing_papers.py
  scripts/ingest_missing_textbooks.py
  scripts/ingest_mmm_papers.py
  scripts/ingest_rag_llm_textbooks.py
  scripts/rechunk_corpus.py
  scripts/repair_orphan_sources.py
  scripts/setup_demo.py
  services/research-kb-daemon.service
  services/s2-discovery.service
  skills/pdf-ingestion/SKILL.md
  tests/e2e/test_ingestion_pipeline.py
  tests/integration/test_ingestion_resilience.py
  tests/smoke/conftest.py
  uv.lock
Due: doc-freshness, mypy-baseline

fix: Deduplicate chunks in rechunk_corpus.py before DB insert
  scripts/rechunk_corpus.py
Due: mypy-baseline

fix: Docling singleton converter + rechunk hardening
  packages/pdf-tools/src/research_kb_pdf/__init__.py
  packages/pdf-tools/src/research_kb_pdf/docling_extractor.py
  packages/pdf-tools/tests/test_docling_extractor.py
  scripts/identify_ocr_needed.py
  scripts/rechunk_corpus.py
Due: mypy-baseline

feat: Add annuity-knowledge-base ingestion script
  scripts/ingest_annuity_kb.py
Due: mypy-baseline

feat: Add output_format to get_source and cross_domain_concepts MCP tools
  packages/mcp-server/src/research_kb_mcp/formatters.py
  packages/mcp-server/src/research_kb_mcp/tools/graph.py
  packages/mcp-server/src/research_kb_mcp/tools/sources.py
  packages/mcp-server/tests/test_graph_tools.py
  packages/mcp-server/tests/test_source_tools.py
Due: doc-freshness, mypy-baseline

docs: Add budget/roadmap section to STRATEGIC_ASSESSMENT.md
  docs/STRATEGIC_ASSESSMENT.md
Due: none

fix: Sanitize null bytes in chunk metadata JSONB (rechunk + docling)
  packages/pdf-tools/src/research_kb_pdf/docling_extractor.py
  scripts/rechunk_corpus.py
  scripts/run_backfill.sh
Due: mypy-baseline

docs: Update corpus stats + fix optimize_weights asyncio bug
  docs/INDEX.md
  docs/STRATEGIC_ASSESSMENT.md
  scripts/optimize_weights.py
Due: mypy-baseline

feat: Refactor weight optimizer + update strategic assessment
  docs/STRATEGIC_ASSESSMENT.md
  scripts/optimize_weights.py
Due: mypy-baseline

Path conditions:
  doc-freshness: any of: (README\.md|CLAUDE\.md|packages/.*/pyproject\.toml|packages/.*/main\.py|packages/.*/tools/.*\.py)
  mypy-baseline: any of: \.py$
