Repository brandon-behring/research-kb: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-freshness, mypy-baseline

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        files: ^packages/|^scripts/|^tests/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^packages/|^scripts/|^tests/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]
        exclude: ^fixtures/demo/data/|^uv\.lock$

  - repo: local
    hooks:
      - id: doc-freshness
        name: doc-freshness
        entry: python scripts/audit_docs.py --pre-commit
        language: python
        files: '(README\.md|CLAUDE\.md|packages/.*/pyproject\.toml|packages/.*/main\.py|packages/.*/tools/.*\.py)'
        pass_filenames: false

      - id: mypy-baseline
        name: mypy-baseline
        entry: .venv/bin/python scripts/mypy_baseline_check.py
        language: system
        files: '\.py$'
        pass_filenames: false

feat: resumable Tier 1 batch driver for MinerU re-extraction
  .gitignore
  docs/runbooks/mineru_vram_reclaim.md
  scripts/audit_formula_gaps.py
  scripts/reextract_with_mineru.py
  tests/scripts/test_reextract_batch.py
Due: mypy-baseline

feat: generalized VRAM preflight; thread into Docling ingestion
  docs/runbooks/mineru_vram_reclaim.md
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard_preflight.py
  scripts/ingest_missing_papers.py
  scripts/ingest_missing_textbooks.py
Due: mypy-baseline

feat: split_and_reingest.py for oversized-PDF MinerU recovery
  scripts/split_and_reingest.py
  tests/scripts/test_split_and_reingest.py
Due: mypy-baseline

fix: wait_for_vram_recovery between MinerU sources (#9 batch B)
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard_preflight.py
  scripts/reextract_with_mineru.py
Due: mypy-baseline

feat: close #11 + richer DLQ error capture
  scripts/mass_ingest_catalog.py
  scripts/rechunk_corpus.py
  scripts/reextract_with_mineru.py
  tests/scripts/test_reextract_batch.py
Due: mypy-baseline

docs: Phase C DLQ-triage section in mineru_vram_reclaim runbook
  docs/runbooks/mineru_vram_reclaim.md
Due: none

feat: retag_mistagged_ml.py + DOMAIN_KEYWORDS expansion
  scripts/ingest_missing_textbooks.py
  scripts/oneoff/retag_mistagged_ml.py
Due: mypy-baseline

chore: Phase C + Stage A/B audit artifacts
  data/audits/all_tiers_post_retag_2026-04-25.json
  data/audits/all_tiers_post_retag_2026-04-25.md
  data/audits/retag_plan_2026-04-25.json
  data/audits/tier1_post_phase_c_2026-04-25.json
  data/audits/tier1_post_phase_c_2026-04-25.md
  data/audits/tier1_pre_phase_c_2026-04-22.json
  data/audits/tier1_pre_phase_c_2026-04-22.md
  data/checkpoints/.gitkeep
  data/dlq/mineru_failed.jsonl
  data/split_log.jsonl
  data/worklists/.gitkeep
Due: none

chore: gitignore generated data dirs
  .gitignore
Due: none

docs: refresh auto-generated status (Phase C + Stage A/B)
  docs/DOMAIN_COVERAGE.md
  docs/status/CURRENT_STATUS.md
Due: none

feat: ingestion_priority downweight in hybrid search
  data/exclusion_lists/low_priority_redundant_2026-05-03.json
  packages/storage/src/research_kb_storage/search.py
  scripts/split_and_reingest.py
Due: mypy-baseline

chore: Tier 1 stragglers audit + Stage B closure artifacts
  data/audits/tier1_post_completion_2026-05-04.json
  data/audits/tier1_post_completion_2026-05-04.md
  data/audits/tier1_post_stragglers_2026-05-05.json
  data/audits/tier1_post_stragglers_2026-05-05.md
  data/dlq/mineru_failed.jsonl
  data/split_log.jsonl
Due: none

docs: 2026-05-03 strategic direction + refresh status
  docs/DOMAIN_COVERAGE.md
  docs/STRATEGIC_DIRECTION_2026-05-03.md
  docs/status/CURRENT_STATUS.md
Due: none

feat: --disable-priority flag in eval_v2.py for marker A/B
  packages/storage/src/research_kb_storage/search.py
  packages/storage/tests/test_search_unit.py
  scripts/eval_v2.py
Due: mypy-baseline

chore: 2026-05-05 eval baseline + marker A/B + ground-truth audit
  evaluation_runs/v2_post_phaseab_markers_off_2026-05-05.json
  evaluation_runs/v2_post_phaseab_markers_on_2026-05-05.json
  fixtures/eval/v2_pool_audit_2026-05-05.yaml
  fixtures/eval/v2_queries_marker_stress_20.yaml
Due: none

docs: 2026-05-05 baseline summary + STRATEGIC_DIRECTION §8.1 update
  docs/STRATEGIC_DIRECTION_2026-05-03.md
  evaluation_runs/baseline_2026-05-05.md
Due: none

docs: add synthesis-kb migration plan (synchronized copy)
  .gitleaksignore
  docs/synthesis_kb_migration_2026-05-21.md
Due: none

feat(graph): add `graph export` CLI + arxiv_id backfill for citation-graph demos
  packages/cli/src/research_kb_cli/commands/graph.py
  packages/cli/tests/test_graph_export.py
  packages/storage/src/research_kb_storage/__init__.py
  packages/storage/src/research_kb_storage/graph_queries.py
  scripts/backfill_arxiv_id_metadata.py
  scripts/ingest_rl_subset.py
Due: mypy-baseline

feat(storage): metadata.roles helpers + role-aware graph export
  packages/storage/src/research_kb_storage/graph_queries.py
  packages/storage/src/research_kb_storage/source_store.py
  packages/storage/tests/test_source_roles.py
Due: mypy-baseline

feat(cli): sources add-manual + set-role + graph export --role
  packages/cli/src/research_kb_cli/commands/graph.py
  packages/cli/src/research_kb_cli/commands/sources.py
  packages/cli/tests/test_graph_export.py
Due: mypy-baseline

fix(citation_graph): alias support + year-filtered partial-LIKE + rebuild flags
  packages/storage/src/research_kb_storage/citation_graph.py
  packages/storage/tests/test_citation_matcher_aliases.py
  scripts/build_citation_graph.py
Due: mypy-baseline

fix(citation_graph): LIKE wildcards + JSONB type guard (2026-05-25 review)
  docs/CODE_REVIEW_2026_05_25.md
  packages/storage/src/research_kb_storage/citation_graph.py
  packages/storage/tests/test_citation_matcher_aliases.py
Due: mypy-baseline

feat(ingest): cache-aware ingester — 1,246 cache sources into research-kb
  packages/contracts/src/research_kb_contracts/models.py
  packages/storage/migrations/017_add_web_source_type.sql
  pyproject.toml
  scripts/ingest_cache.py
  uv.lock
Due: mypy-baseline

fix(mcp): citation formatters use dict access (fixes #18)
  packages/mcp-server/src/research_kb_mcp/formatters.py
Due: mypy-baseline

fix(citation_graph): transactional --full-rebuild/--rebuild-unmatched (#16)
  packages/storage/src/research_kb_storage/__init__.py
  packages/storage/src/research_kb_storage/citation_graph.py
  packages/storage/tests/test_citation_graph.py
  scripts/build_citation_graph.py
Due: mypy-baseline

fix(ingest): fetch real arXiv metadata instead of filename junk (#20)
  packages/common/src/research_kb_common/__init__.py
  packages/common/src/research_kb_common/arxiv.py
  packages/common/tests/test_arxiv.py
  packages/storage/src/research_kb_storage/source_store.py
  packages/storage/tests/test_source_store.py
  scripts/backfill_filename_metadata.py
  scripts/ingest_missing_papers.py
Due: mypy-baseline

fix(ci): bump Node-20 actions to Node-24 majors (dml#6 account-wide sweep)
  .github/workflows/claude.yml
  .github/workflows/doc-sync.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr-checks.yml
  .github/workflows/weekly-full-rebuild.yml
Due: none

docs: ADR-0001 scope (KG retired precisely) + supersede banner on 2026-05-21 design
  docs/decisions/0001-scope-retrieval-citation-backbone.md
  docs/synthesis_kb_migration_2026-05-21.md
Due: none

fix(ingest): make documented CPU mode reachable past the VRAM preflight
  scripts/ingest_missing_papers.py
Due: mypy-baseline

test: fix stale citation-formatter + domain_id test fixtures (post-#18/#4)
  packages/api/tests/test_service.py
  packages/mcp-server/tests/test_citation_tools.py
  packages/mcp-server/tests/test_formatters_extended.py
  packages/mcp-server/tests/test_json_format.py
  packages/mcp-server/tests/test_source_tools.py
Due: mypy-baseline

docs: add CITATION.cff
  CITATION.cff
Due: none

fix: correct s2-discovery ExecStart args (drop --open-access-only; --limit -> --limit-per-paper)
  services/s2-discovery.service
Due: none

fix: correct s2-discovery ExecStart args (--open-access-only, --limit) (#30)
  services/s2-discovery.service
Due: none

docs: README matches reality — CI gate 0.75 (was claimed 0.85), counts rounded per no-exact-counts policy, graph caveat on the feature bullet (NOT PUSHED — awaiting owner nod)
  README.md
Due: doc-freshness

docs: README matches reality — CI gate 0.75 (was claimed 0.85), counts rounded per no-exact-counts policy, graph caveat on the feature bullet
  README.md
Due: doc-freshness

fix(ci): weekly-full-rebuild — run all python/pytest steps through uv run
  .github/workflows/weekly-full-rebuild.yml
Due: none

fix(ci): install all workspace packages — uv sync alone omits storage/pdf members
  .github/workflows/weekly-full-rebuild.yml
Due: none

fix: demo loader registers fixture-referenced domains before insert
  scripts/load_demo_data.py
Due: mypy-baseline

fix(ci): CPU-runner embedding budget — EMBED_TIMEOUT env + batch 16
  .github/workflows/weekly-full-rebuild.yml
  scripts/embed_missing.py
Due: mypy-baseline
