Repository brandon-behring/research-kb: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc-freshness, mypy-baseline

doc-freshness:
  name: doc-freshness
  entry: python scripts/audit_docs.py --pre-commit
  language: python
  pass_filenames: false

mypy-baseline:
  name: mypy-baseline
  entry: .venv/bin/python scripts/mypy_baseline_check.py
  language: system
  pass_filenames: false

fix: Citation scores now flow to search results + KG staleness guard
  packages/api/src/research_kb_api/service.py
  packages/api/tests/test_service.py
  packages/storage/src/research_kb_storage/assumption_audit.py
  packages/storage/src/research_kb_storage/search.py
  packages/storage/tests/test_assumption_audit_unit.py
Due: mypy-baseline

feat: Add batch ingestion scripts + fix paper ingestion bug
  fixtures/library_catalog/catalog_highmed.json
  scripts/classify_arxiv_papers.py
  scripts/ingest_missing_papers.py
  scripts/run_batch_ingest.sh
Due: mypy-baseline

docs: Update corpus stats, domain table, tool counts across 6 files
  README.md
  docs/INTEGRATION.md
  docs/STRATEGIC_ASSESSMENT.md
  docs/status/CURRENT_STATUS.md
  packages/mcp-server/README.md
  packages/storage/README.md
Due: doc-freshness

feat: Weight optimizer refactor — disk cache + parallel precompute
  docs/STRATEGIC_ASSESSMENT.md
  scripts/optimize_weights.py
Due: mypy-baseline

feat: Weight optimizer refactor + cross-disciplinary validation + LLM error surfacing
  docs/STRATEGIC_ASSESSMENT.md
  packages/storage/src/research_kb_storage/assumption_audit.py
  packages/storage/src/research_kb_storage/literature_review.py
  packages/storage/src/research_kb_storage/synthesis.py
Due: mypy-baseline

refactor: split CLAUDE.md into 6 scoped rules files (455 → 145 lines)
  .claude/rules/architecture.md
  .claude/rules/cli-and-scripts.md
  .claude/rules/data-ops.md
  .claude/rules/docs.md
  .claude/rules/integration.md
  .claude/rules/testing.md
  CLAUDE.md
Due: doc-freshness

feat: VRAMMonitor + Prometheus VRAM gauges + DLQ cleanup
  data/dlq/failed_pdfs.jsonl
  docs/status/CURRENT_STATUS.md
  packages/common/src/research_kb_common/__init__.py
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard.py
  packages/pdf-tools/src/research_kb_pdf/embed_server.py
Due: mypy-baseline

fix: Safe ingestion defaults — --no-embed by default, embed_server guard
  .claude/rules/cli-and-scripts.md
  packages/common/src/research_kb_common/__init__.py
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard.py
  packages/pdf-tools/src/research_kb_pdf/dispatcher.py
  scripts/ingest_healthcare_reference_cache.py
  scripts/ingest_missing_papers.py
  scripts/ingest_missing_textbooks.py
  scripts/mass_ingest_catalog.py
  scripts/rechunk_corpus.py
Due: mypy-baseline

fix: Script hangs — atexit pool cleanup + explicit closes + citation timeout
  docs/status/CURRENT_STATUS.md
  packages/storage/src/research_kb_storage/connection.py
  scripts/backfill_embeddings.py
  scripts/build_citation_graph.py
  scripts/extract_citations.py
  scripts/ingest_missing_papers.py
  scripts/ingest_missing_textbooks.py
Due: mypy-baseline

feat: Library book classifier — pdfinfo + pdftotext domain classification
  scripts/classify_library_books.py
Due: mypy-baseline

feat: Add --directory flag to ingest_missing_textbooks.py
  scripts/ingest_missing_textbooks.py
Due: mypy-baseline

refactor: Rebuild library classifier with strict pre-filter pipeline
  scripts/classify_library_books.py
Due: mypy-baseline

docs: Update acquisition list — cross-project survey, 2 free books downloaded
  docs/ACQUISITION_LIST.md
Due: none

docs: Master acquisition list — consolidated from 10 files across 7 projects
  docs/ACQUISITION_LIST.md
Due: none

docs: Deep verification pass — 6 items already in DB, 4 free books downloaded
  docs/ACQUISITION_LIST.md
Due: none

docs: WHAT_TO_BUY.md — verified purchase list, 53 items after audit
  docs/WHAT_TO_BUY.md
Due: none

docs: Final verified WHAT_TO_BUY — 53 items, all false positives eliminated
  docs/WHAT_TO_BUY.md
Due: none

feat: Bulk library ingestion complete — 408 new sources, 1.4M chunks, 100% embedded
  docs/status/CURRENT_STATUS.md
Due: none

fix: Code hygiene + assumption_audit test contract
  packages/cli/src/research_kb_cli/commands/search.py
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard.py
  packages/pdf-tools/src/research_kb_pdf/embed_server.py
  packages/storage/tests/test_assumption_audit.py
  scripts/archive/legacy_services/client.py
  scripts/archive/legacy_services/daemon.py
  scripts/archive/legacy_services/health_server.py
  scripts/archive/legacy_services/metrics.py
  scripts/archive/legacy_services/test_daemon.py
  scripts/backfill_embeddings.py
  scripts/classify_library_books.py
  scripts/extract_citations.py
  scripts/mass_ingest_catalog.py
  tests/test_ingest_healthcare.py
Due: mypy-baseline

docs: Full audit remediation — consolidate ROADMAP, auto-generate domain coverage
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/DOMAIN_COVERAGE.md
  docs/INDEX.md
  docs/STRATEGIC_ASSESSMENT.md
  docs/status/CURRENT_STATUS.md
  docs/status/MIGRATION_GRAPH_DEFAULT.md
  scripts/generate_readme_sections.py
  scripts/generate_status.py
Due: doc-freshness, mypy-baseline

feat: Full eval infrastructure, ablation studies, and methodology audit
  .github/workflows/weekly-full-rebuild.yml
  codex-repo-audit-2026-03-30.md
  docs/research/chunking_strategies_2026.md
  docs/research/eval_design_spec.md
  docs/research/ir_eval_frameworks_2026.md
  evaluation_runs/README.md
  evaluation_runs/ablation_citations_off_2026-03-31.json
  evaluation_runs/ablation_citations_on_2026-03-31.json
  evaluation_runs/ablation_rerank_on_2026-04-01.json
  evaluation_runs/baseline_2026-03-30.json
  evaluation_runs/post_fixes_2026-03-30.json
  evaluation_runs/post_guide_removal_2026-03-30.json
  fixtures/eval/retrieval_test_cases.yaml
  scripts/classify_library_books.py
  scripts/eval_compare.py
  scripts/eval_retrieval.py
Due: doc-freshness, mypy-baseline

fix: Correct eval limit bug, re-validate reranking ablation
  evaluation_runs/README.md
  evaluation_runs/ablation_rerank_corrected_2026-04-01.json
  scripts/eval_retrieval.py
Due: doc-freshness, mypy-baseline

feat: Eval v2 infrastructure — Phases 2-4 complete
  docs/STRATEGIC_ASSESSMENT.md
  docs/research/eval_design_spec.md
  evaluation_runs/README.md
  evaluation_runs/baseline_corrected_2026-04-03.json
  evaluation_runs/v2_dryrun_2026-04-03.json
  fixtures/eval/v2_pool_candidates.yaml
  fixtures/eval/v2_pool_prelabeled.yaml
  fixtures/eval/v2_queries.yaml
  pyproject.toml
  scripts/eval_annotate.py
  scripts/eval_pool_candidates.py
  scripts/eval_prelabel.py
  scripts/eval_v2.py
  uv.lock
Due: doc-freshness, mypy-baseline

feat: Ingest 28 acquisition books with dual-extractor batch script
  data/acquisition_batch_checkpoint.json
  packages/pdf-tools/src/research_kb_pdf/docling_extractor.py
  scripts/ingest_acquisition_batch.py
Due: mypy-baseline

fix: Correct embed_missing import module name (#7A)
  scripts/embed_missing.py
Due: mypy-baseline

test: Add assumption audit scope+domain coverage (#2)
  packages/storage/tests/test_assumption_audit.py
Due: mypy-baseline

test: Add fast_search vs search_hybrid parity coverage (#3)
  packages/storage/tests/test_search_unit.py
Due: mypy-baseline

feat: Add domain filter to 5 MCP tools (#4)
  packages/api/src/research_kb_api/service.py
  packages/mcp-server/src/research_kb_mcp/tools/citations.py
  packages/mcp-server/src/research_kb_mcp/tools/concepts.py
  packages/mcp-server/src/research_kb_mcp/tools/review.py
  packages/mcp-server/src/research_kb_mcp/tools/sources.py
  packages/storage/src/research_kb_storage/biblio_store.py
  packages/storage/src/research_kb_storage/concept_store.py
  packages/storage/src/research_kb_storage/literature_review.py
  packages/storage/tests/test_biblio_store.py
  packages/storage/tests/test_concept_store.py
Due: doc-freshness, mypy-baseline

feat: Post-ingest citation hook + source_ids scope (#5)
  packages/pdf-tools/src/research_kb_pdf/__init__.py
  packages/pdf-tools/src/research_kb_pdf/post_ingest.py
  packages/pdf-tools/tests/test_post_ingest.py
  packages/storage/src/research_kb_storage/citation_graph.py
  scripts/ingest_arxiv_papers.py
  scripts/mass_ingest_catalog.py
Due: mypy-baseline

fix: Propagate DLQ metadata through retry_dlq (#6)
  scripts/retry_dlq.py
  tests/scripts/conftest.py
  tests/scripts/test_retry_dlq.py
Due: mypy-baseline

feat: SourceType.BLOG + switchback blog + arxiv ingestion (#7)
  fixtures/papers/blogs/switchback_blogs.json
  packages/contracts/src/research_kb_contracts/models.py
  packages/contracts/tests/test_contract_models.py
  packages/pdf-tools/src/research_kb_pdf/bibtex_generator.py
  packages/pdf-tools/tests/test_bibtex_generator.py
  packages/storage/migrations/016_add_blog_source_type.sql
  scripts/fetch_blog_as_pdf.py
  scripts/ingest_blogs.py
Due: mypy-baseline

docs: Regenerate status + domain coverage after Phase 3 ingestion
  docs/DOMAIN_COVERAGE.md
  docs/INDEX.md
  docs/status/CURRENT_STATUS.md
Due: none

feat: Cross-machine DB sync via gdrive + backup archive to external drive
  .gitignore
  docs/RECOVERY.md
  scripts/archive_backups.sh
  scripts/restore_db_from_cloud.sh
  scripts/sync_db_to_cloud.sh
Due: none

fix: reextract_with_mineru metadata-merge double-encoding
  packages/storage/tests/test_reextract_metadata_merge.py
  packages/storage/tests/test_reextract_metadata_merge_unit.py
  scripts/reextract_with_mineru.py
Due: mypy-baseline

feat: MinerU VRAM preflight with strict abort
  docs/runbooks/mineru_vram_reclaim.md
  packages/common/src/research_kb_common/gpu_guard.py
  packages/common/tests/test_gpu_guard_preflight.py
  pyproject.toml
  scripts/reextract_with_mineru.py
Due: mypy-baseline

ci: auto-add tracked issues to Work Tracker project #1
  .github/workflows/add-to-project.yml
  docs/runbooks/work_tracker_pat.md
Due: none

feat: audit_formula_gaps.py for corpus Docling-gap triage
  scripts/audit_formula_gaps.py
  tests/scripts/test_audit_formula_gaps.py
Due: mypy-baseline

Path conditions:
  doc-freshness: any of: (README\.md|CLAUDE\.md|packages/.*/pyproject\.toml|packages/.*/main\.py|packages/.*/tools/.*\.py)
  mypy-baseline: any of: \.py$
